{% extends 'layout.html' %}

{% block body %}
  <div class="posts">
    {% for post in posts %}
      <section class="post ad">
        <img class="thumb {{ "pull-right" if (loop.index0 % 2 == 0) else "pull-left" }}" src="http://placehold.it/300x300" />
        <header>
          <h2>
            <a class="title" href="{{ post.url }}">
              {{ post.metadata.title }}
            </a>
            <span class="hook">
              {{ post.metadata.hook }}
            </span>
          </h2>
          <p>{{ post.metadata.description }}</p>
        </header>
      </section>
      <hr />
    {% endfor %}
  </div>
{% endblock %}
