{% extends 'layout.html' %}

{% block body %}
  <header>
    <div class="container">
      <h1>{{ name }}</h1>
    </div>
  </header>
  <div class="showcase">
    {% for feature in features %}
      <hr />
      <section class="feature">
        <header>
          <h2>{{ feature.title }}
            <span class="text-muted">
              {{ feature.hook }}
            </span>
          </h2>
          <p>{{ feature.description }}</p>
        </header>
        <div class="image pull-right">
          <img src="http://placehold.it/300x300" />
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock %}
