@import "bootstrap.less";
@import "font-awesome.less";
@FontAwesomePath: "../fonts";

body > header {
  .jumbotron;
}

.posts {
  .container;
}

.post.ad {

  > header {
    margin: 60px 20px 10px 20px;
  }

  > img {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.post {
  .container;

  > header {

    h2 {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;

      > .hook {
        .text-muted;
      }
      @media (min-width: 768px) {
        font-size: 50px;
      }
    }

    p {
      .lead;
    }
  }

  img {
    .img-responsive;
  }
}
